@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');
/*font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;*/

:root{
	--header-primary-bg: #ECF2FF;
	--headings-primary-color: #655DBB;
	--sub-heading-anchor-color: #3E54AC;
	--sub-text-dark-color: #40514E;
	--btn-primary-gradient-color: #AA77FF;
	--btn-hover-primary-gradient-color: #97DEFF;
	--btn-hover-secondary-gradient-color: #62CDFF;
	--footer-links-color: #C9EEFF;
}

html{
	font-size: 62.5%;

}


body{
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

h1{
	color: var(--headings-primary-color);
	font-family: 'Sacramento', cursive;
	font-size: 9rem;
	line-height: 0.75;
	margin: 0 auto;
	max-width: fit-content;
	min-width: 10%;
}

h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}

h2{
	color: var(--headings-primary-color);
	font-size: 4rem;
/*	font-weight: normal;*/
}

h3{
	font-size: 1.872rem;
}

h3,a{
	color: var(--sub-heading-anchor-color);
}

p{
	color: var(--sub-text-dark-color);
	font-weight: bold;
	font-size: 1.6rem;
}

hr{

	border-color: var(--header-primary-bg);
	border-style: dotted none none none;
	border-width: 1rem;
	width: 5%;
}

/*=======Class Styles========*/

.top-container{
	background-color: var(--header-primary-bg);
	position: relative;
	padding-top: 100px;
}

.middle-container{
	
}


.pro{
	text-decoration: underline;
}

.header-top-cloud{
	position: absolute;
	top: 5%;
	right: 20%;
}
.header-bottom-cloud{
	position: absolute;
	bottom: 300px;
	left: 20%;
}

.skills,.profile,.contact-me{
	padding: 100px 0;
}

.profile,.contact-me{
	width: 50%;
	margin: 0 auto;
}

.profile > img{
	height: 200px;
	width: 200px;
}

.contact-me > *{
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.skill-row{
	width: 50%;
	margin: 10rem auto;
	text-align: left;
	line-height: 2;
}

.skill-row-computer-img{
	width: 25%;
	float: left;
	margin-right: 3rem ;
}

.skill-row-code-img{
	width: 25%;
	float: right;
	margin-left: 3rem;
}

.float-clear{
	clear: both;
}

.profile-h2{

}

.btn {
  background: var(--header-primary-bg);
  background-image: -webkit-linear-gradient(top, var(--btn-primary-gradient-color), var(--sub-heading-anchor-color));
  background-image: -moz-linear-gradient(top, var(--btn-primary-gradient-color), var(--sub-heading-anchor-color));
  background-image: -ms-linear-gradient(top, var(--btn-primary-gradient-color), var(--sub-heading-anchor-color));
  background-image: -o-linear-gradient(top, var(--btn-primary-gradient-color), var(--sub-heading-anchor-color));
  background-image: linear-gradient(to bottom, var(--btn-primary-gradient-color), var(--sub-heading-anchor-color));
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: var(--btn-hover-primary-gradient-color);
  background-image: -webkit-linear-gradient(top, var(--btn-hover-primary-gradient-color), var(--btn-hover-secondary-gradient-color));
  background-image: -moz-linear-gradient(top, var(--btn-hover-primary-gradient-color), var(--btn-hover-secondary-gradient-color));
  background-image: -ms-linear-gradient(top, var(--btn-hover-primary-gradient-color), var(--btn-hover-secondary-gradient-color));
  background-image: -o-linear-gradient(top, var(--btn-hover-primary-gradient-color), var(--btn-hover-secondary-gradient-color));
  background-image: linear-gradient(to bottom, var(--btn-hover-primary-gradient-color), var(--btn-hover-secondary-gradient-color));
  text-decoration: none;
  color: var(--sub-text-dark-color);
}

.bottom-container{
	background-color: var(--headings-primary-color);
	padding: 30px 0;	
}

.footer-link{
	text-transform: capitalize;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.6rem;
	margin: 0 1.6rem;
	color: var(--footer-links-color);
}

.footer-copyright{
	color: var(--header-primary-bg);
	font-weight: normal;
	margin: 3rem 0;
}